ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

.pp-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: #373737; */
    background-color: rgba(55, 55, 55, .6);
    height: 100%;
    z-index: 1000;
}

.pp-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    outline: 0;
}

.pp-modal {
    position: relative;
    width: auto;
    margin: 0 auto;
    top: 30px;
    padding-bottom: 24px;
}

.pp-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.pp-modal-header {
    padding: 10px 16px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: rgba(0, 0, 0, .65);
    border-bottom: 1px solid #e9e9e9;
}

.pp-modal-body {
    padding: 5px 5px 5px 16px;
    font-size: 12px;
    line-height: 1.5;
}

.pp-modal-body-left {
    width: 430px
}

.pp-modal-body-right {
    width: 120px
}

.pp-modal-footer {
    border-top: 1px solid #e9e9e9;
    /* padding: 10px 16px 10px 10px;
    text-align: right;
    border-radius: 0 0 4px 4px; */
    height: 128px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
    background-color: #fff;
    text-align: center;
    padding: 0 18px;
}

.pp-modal-title {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
}


/** 缩略图css */

.spec-list {
    position: relative;
    width: 668px;
    height: 105px;
    margin-bottom: 5px;
    overflow: hidden;
}

.spec-items {
    position: relative;
    width: 668px;
    height: 100px;
    margin-top: 10px;
    overflow: hidden;
    background: #ddd;
}

.spec-list .spec-items ul {
    position: absolute;
    width: 668px;
    top: 0px;
    left: 0px;
}

.spec-list .spec-items ul li {
    width: 125px;
    float: left;
    margin-left: 21px;
    margin-right: 8px;
}

.spec-list .spec-items ul li img {
    width: 125px;
    height: 90px;
    /* border: 2px solid rgb(32, 192, 117); */
}


/** end*/

.pp-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    position: relative;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.pp-btn-lg {
    padding: 4px 15px 5px;
    font-size: 14px;
    border-radius: 4px;
}

.pp-btn-primary {
    color: #fff;
    background-color: #108ee9;
    border-color: #108ee9;
}

.pp-btn,
.pp-btn:active,
.pp-btn:focus {
    outline: 0;
}

.pp-modal-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    color: rgba(0, 0, 0, .43);
    outline: 0;
}

.pp-modal-close-x {
    display: block;
    font-style: normal;
    /* vertical-align: baseline; */
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 1;
}

.pp-scale {
    padding: 0px;
}

.pp-card {
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.pp-card-bordered {
    border: 1px solid #e9e9e9;
    width: 468px;
    height: 350px;
}

.pp-card-right {
    /* background-color: #ddd; */
    position: absolute;
    top: 30px;
    left: 380px;
    display: inline;
    text-align: center;
    opacity: .9;
    color: #000;
}

.pp-card-dots {
    text-align: center;
    padding: 5px 5px;
    line-height: 12px;
    margin-top: 5px;
    width: 468px;
}

.pp-card-dots span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(7, 17, 27, .4);
    transition: transform .2s;
    cursor: pointer;
    margin-left: 10px;
}


/* .pp-card-dots span:active {
    background: rgb(32, 192, 117);
    border: 1px solid rgba(237, 241, 245, 0.8);
} */

.active-span {
    background: rgb(32, 192, 117);
    border: 1px solid rgba(237, 241, 245, 0.8);
}


/**图片分类选择器 开始*/

.pp-card-category {
    height: 40px;
    line-height: 40px;
    margin-left: -2px;
}

.pp-card-right-d {
    float: left;
    width: 146px;
    height: 40px;
    background: rgb(250, 252, 251);
    border: 1px solid #ccc;
    float: left;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    line-height: 40px;
    font-family: simsun;
    color: #999;
    margin: 5px;
}


/**图片分类选择器 结束*/


/* .pp-card-right-d:hover {
    background: rgb(32, 192, 117);
    color: #fff;
} */

.pp-card-body {
    padding: 0px;
    margin: 0px;
    /* border: 1px solid #e9e9e9; */
}

#float-box {
    display: none;
    width: 160px;
    height: 120px;
    position: absolute;
    background: #ffffcc;
    border: 1px solid #ccc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.pp-image-max {
    position: absolute;
    display: none;
    top: 51px;
    left: 483px;
    width: 468px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    z-index: 1;
    opacity: 1;
}

.pp-image-max img {
    position: absolute;
    z-index: 5
}

.pp-card-anchor-prv {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 20px;
    left: 0;
    height: 60px;
    overflow: hidden;
    font-size: 24px;
    color: rgba(255, 255, 255, .6);
    text-align: center;
    line-height: 60px;
    z-index: 2000;
}

.pp-card-anchor-prv:hover {
    background: rgba(7, 17, 27, .6);
    border-radius: 0 4px 4px 0;
}

.pp-card-anchor-next:hover {
    background: rgba(7, 17, 27, .6);
    border-radius: 0 4px 4px 0;
}

.pp-card-anchor-next {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -30px;
    width: 20px;
    height: 60px;
    overflow: hidden;
    font-size: 24px;
    color: rgba(255, 255, 255, .6);
    text-align: center;
    line-height: 60px;
}

.fd {
    width: 150px;
    height: 150px;
    background-color: skyblue;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: move;
}